doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title Start
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type='text/css', media='screen', href='../stylesheets/main.css')
    body
        div
            header
                h1 #{title}
                h2 #{intro}
            article
                nav
                    button#start(onclick='Start('+id+')') Start
                    button#wyniki(onclick='Wyniki('+id+')') Wyniki
            footer
                p
                    | ©Bartosz Garguliński
    script(src='javascripts/quiz.js')